body {
    margin: 0;
    font-family: 'Georgia', serif;
    background: linear-gradient(to right, #f6b46f, #fbd598);
  }
  
  .container {
    max-width: 400px;
    margin: 30px auto;
    background-color: #fef6dd;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #a0433a;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1em;
    color: #2a2a2a;
  }
  
  input, select {
    width: 95%;
    padding: 10px;
    background-color: #2f5f66;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1em;
  }
  
  .modo-preparo {
    background-color: #2f5f66;
    color: black;
    border-radius: 6px;
    padding: 7px;
    margin-top: 5px;
    width: 100%;
    border: none;
    resize: vertical;
    font-family: inherit;
    font-size: 1rem;
  }
  
  .modo-preparo p {
    margin: 0;
  }
  
  .modo-preparo ul {
    margin: 5px 0 0 20px;
    padding: 0;
  }
  

  option {
    background-color: white;
    color: black;
  }
  