body {
  margin: 0;
  background-color: rgba(255, 197, 108, 1);
  font-family: "Georgia", serif;
}

/* LOGO */
header {
  position: absolute;
  top: 15px;
  left: 15px;
}

.logo {
  width: 100px;
}

/* FORMULÁRIO */
.container {
  max-width: 400px;
  margin: 80px auto 30px auto;
  background-color: #f8f2db;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #8b0000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.formulario input,
.formulario textarea,
.formulario select {
  width: 100%;
  background-color: rgba(50, 88, 98, 1);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.formulario textarea::placeholder {
  color: rgba(136, 127, 127, 1);
}

/* ÍCONES */
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
}

.icone-seta {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  pointer-events: none;
}

/* FOTO DA RECEITA */
.foto-receita {
  margin-top: 10px;
  width: 150px;
  display: block;
}
